/* переменные*/
:root {
--primary-text-color:#212121;
--title-text-color:#757575;
--accent-color:#2196F3;
}

/*Цвет фона header #FFFFFF;*/
/*цвет фона main #E5E5E5;*/
/*цвет фона about us #F5F4FA;*/


/* цвет логотипа */
.logo{
    color: var(--accent-color);
}

/* site-nav */
.site-nav {
     color:var(--primary-text-color);
}
.site-nav .link:hover, 
.site-nav .link:focus{
    color:#2196F3;
}
/*button*/
.button {
    background-color: var(--accent-color);
    color:#FFFFFF;
}